.selector-for-some-widget {
    box-sizing: content-box;
}

main {
    position: relative;
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    padding: 1em;
    box-sizing: border-box;
}

@media screen and (max-width: 100vh) {
    main {
        background-color: purple;
        height: 100vw;
        width: 100vw;
    }
}

.canvas-grid {
    background-color: red;
    display: flex;                       /* establish flex container */
    flex-wrap: wrap;                     /* enable flex items to wrap */
    justify-content: space-around;
    align-item: center;
}

.canvas-cell {
    flex: 0 0 32%;                       /* don't grow, don't shrink, width */
    display: flex;
    margin-bottom: 5px;
}

.canvas-cell:before {
    content: '';
    display: table;
    padding-top: 100%;
}


.super-element {
    background-color: #999;
    border: 3px solid #666;
    background-color: #fff;
    border-radius: .5em;
    padding: 10px;
}

.element {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: .5em;
    padding: 10px;
    cursor: move;
}

.element.over {
    border: 3px dashed #666;
    background-color: #eee;
}

[draggable] {
    user-select: none;
}

