<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello Mandal-Art</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/css/inner-element.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>
<!--<header>-->
<!--    <nav class="navbar navbar-light bg-light">-->
<!--        <a class="navbar-brand">Navbar</a>-->
<!--        <form class="form-inline">-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
<!--    </nav>-->
<!--</header>-->
<main>
    <div class="">
        <div class="canvas-grid">
            <!-- depth 1 -->
            <th:block th:each="num : ${#numbers.sequence(1,9)}">
                <div th:if="${num < 5}" th:text="${num}" draggable="true" class="canvas-cell element" data-toggle="modal" data-target="#elementModal"></div>
                <div th:if="${num == 5}" draggable="false" class="canvas-cell super-element" data-toggle="modal" data-target="#elementModal">0</div>
                <div th:unless="${num <= 5}" th:text="${num} - 1" draggable="true" class="canvas-cell element"></div>
            </th:block>

            <!-- depth 2 -->
<!--            <th:block th:each="num : ${#numbers.sequence(1,9)}">-->
<!--                <div th:if="${num == 5}" draggable="false" class="canvas-cell super-element">0</div>-->
<!--                <div th:unless="${num == 5}" draggable="true" class="inner-canvas-grid element">-->
<!--                    <th:block th:each="innerNum : ${#numbers.sequence(1,9)}">-->
<!--                        <div th:if="${innerNum < 5}" th:text="${num} + '-' + ${innerNum}" draggable="true" class="inner-canvas-cell inner-element"></div>-->
<!--                        <div th:if="${innerNum == 5}" th:text="${num}" class="inner-canvas-cell inner-super-element"></div>-->
<!--                        <div th:unless="${innerNum <= 5}" th:text="${num} + '-' + ${innerNum - 1}" draggable="true" class="inner-canvas-cell inner-element"></div>-->
<!--                    </th:block>-->
<!--                </div>-->
<!--            </th:block>-->
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="elementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Element </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Title:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Details:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>

<script type="text/javascript" th:src="@{/js/element.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>